* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    /*background-image: url(../images/back1.jpg);*/
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 50px;
    position: relative;
    z-index: 999;
    animation: fadeInDown 0.5s linear;
}

#main-navback {
    height: 100%;
    width: 100%;
    position: absolute;
    /*background-color: rgba(229, 228, 226, 0.92);*/
}

#main-navback:after {
    background-color: rgb(214, 214, 214);
}

#main-hcont {
    /*内容器*/
    position: relative;
    margin: 0 0 0 70px;
    width: 75%;
}

header>div>* {
    /*内容器下的东西 例如logo之类*/
    position: absolute;
}


/*下面是logo和导航栏和导航按钮*/

#mainlogo {
    left: 0;
    top: 0;
    width: 100px;
    height: 50px;
    background-color: antiquewhite;
}


/*导航栏和导航按钮*/

#mainnav {
    right: 0;
    top: 0;
    width: 25em;
    display: flex;
    position: absolute;
    box-shadow: none;
}

#mainnav>li {
    width: 5em;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#mainnav>li:hover {
    border-top: solid 5px #959595;
    cursor: pointer;
    text-shadow: rgb(183, 183, 183) 2px 2px 5px, rgb(183, 183, 183) -2px -2px 5px;
}


/*导航按钮*/

#mainbtn {
    display: none;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 12px;
    box-sizing: border-box;
    /*    position: absolute;*/
    background-color: rgba(205, 205, 205, 0.57);
}

#mainbtn>svg {
    height: 100%;
    width: 30px;
}

#mainbtn:hover {
    cursor: pointer;
}


/*挂件按钮*/

#mainsbtn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    background-color: #cccccc;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}


/*侧边栏*/

#mainside {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 400px;
    box-sizing: border-box;
    padding-top: 75px;
    animation: fadeInRight 0.5s ease;
    overflow: hidden;
    padding-bottom: 75px;
}

#mainside.active {
    display: block;
}

#main-sidecont {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 10px;
}

#main-sidecont:after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(213, 139, 143, 0.87);
    filter: blur(5px);
    top: 0;
    left: 0;
    position: absolute;
}


/*页脚区域*/

footer {
    height: 50px;
    background-color: #cccccc;
}

#maincontent {
    min-height: 95vh;
    background-color: white;
}

#mainspace {
    height: 30px;
}


/*768为窄屏*/

@media screen and (max-width:768px) {
    #mainlogo {
        margin: 0 0 0 30px;
    }
    #main-hcont {
        width: 100%;
        margin: 0;
    }
    #mainside {
        width: 300px;
    }
}


/*414为手机*/

@media screen and (max-width:512px) {
    #mainnav.active {
        display: block;
    }
    #mainnav {
        display: none;
        width: 100%;
        margin-top: 60px;
        /*background-color: antiquewhite;*/
        overflow: visible;
        animation: fadeInDown 0.5s ease;
    }
    #mainnav:after {
        content: "";
        background-color: rgba(255, 243, 223, 0.93);
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(5px);
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    /*#mainnav:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-bottom: blanchedalmond 15px;*/
    /*border-left: transparent 20px;*/
    /*border-right: transparent 20px;*/
    /*border-style: solid;*/
    /*margin-top: -15px;*/
    /*}*/
    #mainnav>li {
        width: 100%;
        height: 12vh;
    }
    #mainnav>li:hover {
        border: none;
        background-color: rgba(222, 184, 135, 0.95);
    }
    #mainlogo {
        margin-left: 0;
    }
    #mainbtn {
        display: flex;
    }
    #mainside {
        width: 100%;
    }
    #mainsbtn {
        height: 50px;
        width: 50px;
    }
}
