.t-pagecont{
    padding: 20px;
}
.t-wenzhang-cont{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.t-wenzhang{
    flex-grow: 1;
    min-width: 250px;
    min-height: 100px;
    margin: 15px;
    border: rgba(98, 98, 98, 0.17) 1px solid;
    box-shadow: rgba(44, 44, 44, 0.26) 1px 1px 2px 0;
    background-color: rgba(137, 174, 196, 0.75);
}
.t-wenzhang>div{
    padding:10px;
    word-break: break-all;
    word-wrap: break-word;
}
.t-wenzhang>div:first-child{
    padding-bottom: 5px;
    background-color: rgba(40, 121, 189, 0.75);
    font-size: 0.9em;
}
.t-wenzhang>div:last-child{
    font-size: 0.75em;
    font-style: italic;
    color: #494949;
}
.t-classcont{
    background-color: #f0f1f0;
    box-shadow: rgba(219, 219, 219, 0.6) 1px 1px 10px 2px;
    display:block;
    box-shadow: rgba(163, 166, 164, 0.28) 0px 0px 5px 2px, rgba(191, 195, 192, 0.2) 0px 0px 10px 5px;
}
    .t-classcont > summary {
        background-color: #f0f1f0;
        padding: 10px;
        padding-left: 20px;
        display: block;
    }
.t-classcont>summary:focus {
    outline: none;
}

@media screen and (max-width:512px) {
    .t-wenzhang-cont{
        justify-content:center;
    }
}