@* For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860 *@
@{ ViewData["Title"] = "分类"; }
@model clf_blog.Model.TypeModel.TypeInfo[]
@section Side{
    @Html.Partial("MainSide")
}
<link rel="stylesheet" href="/css/types.css">
<div class="t-top">
    <!--   全屏滚动式-->

    <div class="t-pagecont">

        <details class="t-classcont" open>
            <summary>时间</summary>
            <div class="t-wenzhang-cont">
                <a href="/Home/BlogList?stime=@(DateTime.Today.Ticks)&etime=@(DateTime.Now.Ticks)">
                    <div class="t-wenzhang">
                        <div>今天</div>
                        <div>今天发布的文章</div>
                    </div>
                </a>
                <a href="/Home/BlogList?stime=@(DateTime.Today.AddDays(-3).Ticks)&etime=@(DateTime.Today.Ticks)">
                    <div class="t-wenzhang">
                        <div>三天以内</div>
                        <div>三天以内发布的文章</div>
                    </div>
                </a>
                <a href="/Home/BlogList?stime=@(DateTime.Today.AddDays(-7).Ticks)&etime=@(DateTime.Today.Ticks)">
                    <div class="t-wenzhang">
                        <div>一星期内</div>
                        <div>一星期内发布的文章</div>
                    </div>
                </a>
                <a href="/Home/BlogList?stime=@(DateTime.Today.AddDays(-30).Ticks)&etime=@(DateTime.Today.Ticks)">
                    <div class="t-wenzhang">
                        <div>一个月内</div>
                        <div>一个月内发布的文章</div>
                    </div>
                </a>
                <a href="/Home/BlogList?stime=@(DateTime.Today.AddDays(-365).Ticks)&etime=@(DateTime.Today.Ticks)">
                    <div class="t-wenzhang">
                        <div>一年内</div>
                        <div>一年内发布的文章</div>
                    </div>
                </a>
                <a href="/Home/BlogList?stime=@(DateTime.Today.AddDays(-1095).Ticks)&etime=@(DateTime.Today.Ticks)">
                    <div class="t-wenzhang">
                        <div>三年内</div>
                        <div>三年内发布的文章</div>
                    </div>
                </a>
            </div>
        </details>
        <details style="margin-top:20px" class="t-classcont" open>
            <summary>类型</summary>
            <div class="t-wenzhang-cont">
                @foreach (var t in Model)
                {
                    <a href="/Home/BlogList?&type=@t.Id" style="text-decoration:none">
                        <div class="t-wenzhang">
                            <div>@t.Name</div>
                            <div>@t.Info</div>
                        </div>
                    </a>


                }
            </div>
        </details>

    </div>


</div>
<script>
    HTMLCollection.prototype.forEach = Array.prototype.forEach;
    $(".t-wenzhang").click(function () {
        if ($(this).hasClass("active")) {
            $(this).removeClass("active");
        } else {
            $(".t-wenzhang").removeClass("active");
            $(this).addClass(("active"));
        }

    })
    $(window).resize(function (e) {
        var wth = window.innerWidth;
        if (wth < 512) {
            $(".t-pagecont")[0].children.forEach(function (ele) {
                $(ele).show();
            });
        }
    })
</script>